<!-- src/main/resources/mapper/reservation/UserReservationMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popspot.popupplatform.mapper.reservation.UserReservationMapper">

    <resultMap id="UserReservationResultMap"
               type="com.popspot.popupplatform.domain.reservation.UserReservation">
        <id     property="urId"       column="ur_id"/>
        <result property="popId"      column="pop_id"/>
        <result property="ptsId"      column="pts_id"/>
        <result property="userId"     column="user_id"/>
        <result property="urDateTime" column="ur_date_time"/>
        <result property="urUserCnt"  column="ur_user_cnt"/>
        <result property="urStatus"   column="ur_status"/>
    </resultMap>



    <insert id="insert"
            parameterType="com.popspot.popupplatform.domain.reservation.UserReservation"
            useGeneratedKeys="true"
            keyProperty="urId">
        INSERT INTO USER_RESERVATION
        (pop_id, pts_id, user_id, ur_date_time, ur_user_cnt, ur_status)
        VALUES
        (#{popId}, #{ptsId}, #{userId}, #{urDateTime}, #{urUserCnt}, #{urStatus})
    </insert>

    <select id="selectById" resultMap="UserReservationResultMap">
        SELECT
        ur_id, pop_id, pts_id, user_id, ur_date_time, ur_user_cnt, ur_status
        FROM USER_RESERVATION
        WHERE ur_id = #{urId}
        LIMIT 1
    </select>

    <update id="cancelById">
        UPDATE USER_RESERVATION
        SET ur_status = FALSE
        WHERE ur_id = #{urId}
        AND ur_status = TRUE
    </update>


</mapper>
