<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.popspot.popupplatform.mapper.chat.ChatReadMapper">
    <!-- 1) 특정 유저의 마지막 읽은 메시지 조회 -->
    <select id="getLastRead" resultType="long">
        SELECT last_read_message_id
        FROM CHAT_READ
        WHERE room_type = #{roomType}
        AND room_id = #{roomId}
        AND user_id = #{userId}
    </select>

    <!-- 2) 읽음 업데이트 (UPSERT) -->
    <insert id="updateLastRead">
        INSERT INTO CHAT_READ (room_type, room_id, user_id, last_read_message_id)
        VALUES (#{roomType}, #{roomId}, #{userId}, #{messageId})
        ON DUPLICATE KEY UPDATE
        last_read_message_id = #{messageId};
    </insert>

    <!-- 3) 메시지를 읽은 사람 수 -->
    <select id="getReadCount" resultType="int">
        SELECT COUNT(*)
        FROM CHAT_READ
        WHERE last_read_message_id >= #{messageId}
    </select>
</mapper>
