<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popspot.popupplatform.mapper.chat.ChatHiddenMapper">
    <select id="findHidden" resultType="com.popspot.popupplatform.domain.chat.ChatHidden">
        SELECT
        ch_id AS chId,
        ch_type AS chType,
        ch_room_id AS chRoomId,
        user_id AS userId,
        ch_is_hidden AS chIsHidden,
        ch_is_deleted AS chIsDeleted,
        last_deleted_at AS lastDeletedAt,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM CHAT_HIDDEN
        WHERE ch_type = #{chType}
        AND ch_room_id = #{chRoomId}
        AND user_id = #{userId}
        LIMIT 1
    </select>
    <update id="updateHiddenFlag">
        UPDATE CHAT_HIDDEN
        SET ch_is_hidden = #{chIsHidden},
        updated_at = CURRENT_TIMESTAMP
        WHERE ch_type = #{chType}
        AND ch_room_id = #{chRoomId}
        AND user_id = #{userId}
    </update>
    <insert id="insertHidden"
            parameterType="com.popspot.popupplatform.domain.chat.ChatHidden"
            useGeneratedKeys="true"
            keyProperty="chId">
        INSERT INTO CHAT_HIDDEN (
        ch_type,
        ch_room_id,
        user_id,
        ch_is_hidden,
        ch_is_deleted,
        last_deleted_at,
        created_at,
        updated_at
        )
        VALUES (
        #{chType},
        #{chRoomId},
        #{userId},
        #{chIsHidden},
        #{chIsDeleted},
        #{lastDeletedAt},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        )
    </insert>
    <update id="updateDeleteInfo">
        UPDATE CHAT_HIDDEN
        SET ch_is_deleted = #{chIsDeleted},
        updated_at = CURRENT_TIMESTAMP
        WHERE ch_type = #{chType}
        AND ch_room_id = #{chRoomId}
        AND user_id = #{userId}
    </update>
    <update id="updateLastDeletedAt">
        UPDATE CHAT_HIDDEN
        SET last_deleted_at = CURRENT_TIMESTAMP,
        updated_at = CURRENT_TIMESTAMP
        WHERE ch_type = #{chType}
        AND ch_room_id = #{chRoomId}
        AND user_id = #{userId}
    </update>
</mapper>
