<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popspot.popupplatform.mapper.chat.PrivateChatRoomMapper">
    <insert id="insertRoom" parameterType="com.popspot.popupplatform.domain.chat.PrivateChatRoom"
            useGeneratedKeys="true" keyProperty="pcrId">
        INSERT INTO PRIVATE_CHAT_ROOM (
        user_id,
        user_id2,
        pcr_is_deleted,
        created_at,
        updated_at
        )
        VALUES (
        #{userId},
        #{userId2},
        FALSE,
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        )
    </insert>
    <select id="findById" resultType="com.popspot.popupplatform.domain.chat.PrivateChatRoom">
        SELECT
        pcr_id AS pcrId,
        user_id AS userId,
        user_id2 AS userId2,
        pcr_is_deleted AS pcrIsDeleted,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM PRIVATE_CHAT_ROOM
        WHERE pcr_id = #{pcrId}
    </select>
    <update id="deleteRoom" parameterType="com.popspot.popupplatform.domain.chat.PrivateChatRoom">
        UPDATE PRIVATE_CHAT_ROOM
        SET
        pcr_is_deleted = TRUE,
        updated_at = CURRENT_TIMESTAMP
        WHERE pcr_id = #{pcrId}
    </update>
    <select id="findActiveRoomByUsers"
            resultType="com.popspot.popupplatform.domain.chat.PrivateChatRoom">
        SELECT
        pcr_id         AS pcrId,
        user_id        AS userId,
        user_id2       AS userId2,
        pcr_is_deleted AS pcrIsDeleted,
        created_at     AS createdAt,
        updated_at     AS updatedAt
        FROM PRIVATE_CHAT_ROOM
        WHERE pcr_is_deleted = FALSE
        AND (
        (user_id = #{userId1} AND user_id2 = #{userId2})
        OR (user_id = #{userId2} AND user_id2 = #{userId1})
        )
        LIMIT 1
    </select>
</mapper>
